In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [1]:
emp_info = {'Tom': {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},\
            'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}

In [2]:
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [ ]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [14]:
# Way number 1

dinary = {
    'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':'$10,000'},
    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':'$9,000'},
    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':'$9,500'}
}

In [17]:
# Way number 2

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

dinary2 = {}

for i,j in enumerate(lst1,start = 1):
    dinary2[j] = {
                    emp_key[0]: globals()['emp%s_val' %i][0],
                    emp_key[1]: globals()['emp%s_val' %i][1],
                    emp_key[2]: globals()['emp%s_val' %i][2]
    }

In [18]:
dinary2

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [24]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict['class']['student']['marks']['history']

80

In [ ]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [28]:
dinary4 = {}
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

for i in employees:
    dinary4[i] = defaults

print(dinary4)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

In [3]:
dnadinary = {'A':'U','T':'A','C':'G','G':'C'}

def dna_mrna(dnaseq):
    rnaseq =''
    for i in dnaseq:
        rnaseq += dnadinary[i]
    return rnaseq

In [4]:
dna_mrna('ATCG')

'UAGC'

KeyError: 'z'

In [ ]:
# Write a function which takes a word as input and returns a dictionary with 
# letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [17]:
def dinarycreate(word):
    dinary = {}
    for i in word:
        if i in dinary.keys():
            dinary[i] += 1
        else:
            dinary[i] = 1
    return dinary

In [19]:
dinarycreate('datascience.webmandal')

{'d': 2, 'a': 4, 't': 1, 's': 1, 'c': 2, 'i': 1, 'e': 3, 'n': 2, '.': 1, 'w': 1, 'b': 1, 'm': 1, 'l': 1}

In [ ]:
A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
Write a function that computes the base composition of a given DNA sequence.

In - baseComposition("CTATCGGCACCCTTTCAGCA")
Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
In - baseComposition("AGT")
Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [22]:
def dinarycreate(word):
    dinary = {'A': 0, 'C': 0, 'T': 0,  'G': 0 }
    for i in word:
        dinary[i] += 1
    return dinary

In [26]:
dinarycreate('CTATCGGCACCCTTTCAGCA')

{'A': 4, 'C': 8, 'T': 5, 'G': 3}

In [28]:
dinarycreate('AGT')

{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [21]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

# ANSWER: 5. None of the above

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

# ANSWER: 2. d.values()

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

# ANSWER: # 3. d = { ["First", "Last"]: (1,3) }
# Dictionary keys needs to be immutable, list is not

In [ ]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

In [29]:
def rdinary(dinary,value):
    keylist =[]
    for i in dinary.keys():
        if dinary[i] == value:
            keylist.append(i)
    keylist.sort()
    return keylist

In [34]:
rdinary({'a':10, 'b':2, 'c':2}, 10)

['a']

In [35]:
rdinary({'a':12, 'b':2, 'c':2}, 2)

['b', 'c']

In [32]:
rdinary({'a':1, 'b':2, 'c':2}, 3)

[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts
# the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [40]:
def dinary_inv(dinary):
    keylist =  list(dinary.keys())
    invdinary = {}
    for i in keylist:
        if dinary[i] in invdinary.keys():
            invdinary[dinary[i]].append(i)
        else:
            invdinary[dinary[i]] = [i]
    return invdinary

In [42]:
dinary_inv({'a':1, 'b':2, 'c':3, 'd':2})

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [43]:
dinary_inv({'a':3, 'b':3, 'c':3})

{3: ['a', 'b', 'c']}

In [44]:
dinary_inv({'a':2, 'b':1, 'c':2, 'd':1})

{2: ['a', 'c'], 1: ['b', 'd']}

In [ ]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [46]:
def sparse_dinary(sparser):
    dinary ={}
    for i,j in enumerate(sparser):
        if j != 0:
            dinary[i] = j
    return dinary

In [50]:
sparse_dinary([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])

{0: 1, 3: 2, 7: 3, 12: 4}

In [51]:
sparse_dinary([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])

{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

In [52]:
sparse_dinary([0, 0, 0, 0, 0])

{}

In [ ]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [114]:
def dinary_sparse(dinary):
    sparser = []
    if len(dinary) == 0:
        return sparser
    
    keylist = list(dinary.keys())
    keylist.sort()
    sparser = [0]*(keylist[-1]+1)
    
    for i in dinary.keys():
        sparser[i] = dinary[i]
    return sparser

In [115]:
dinary_sparse({0: 1, 3: 2, 7: 3, 12: 4})

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [117]:
dinary_sparse({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

In [118]:
dinary_sparse({})

[]

In [ ]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [121]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary'] = 8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [124]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

valuelist = list(sampleDict.values())
valuelist.sort()

for i in sampleDict.keys():
    if sampleDict[i] == valuelist[0]:
        print (i)

Math

In [ ]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

In [128]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [129]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

for i in sampleDict.values():
    if i == 200:
        print(True)

True

In [130]:
# Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

sampleDict.pop('name')
sampleDict.pop('salary')
sampleDict

# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

{'age': 25, 'city': 'New york'}